<%- include('partials/header.ejs') %>

<main class="home-page">
  <section class="logo-section">
    <img src="/img/logo.png" alt="Hill Family Auto Sales Logo" class="logo">
  </section>

  <section class="story-section">
    <h2>Hill Family Auto Sales</h2>
    <p>Welcome to our site!<br><br> 
      Looking for a used vehicle? Take a look at our <a href="/cars">inventory</a>.<br><br> 
      Ready to buy? <a href="https://hillfamilyautosales.1234apply.com/templates/9/Main9.aspx">Apply here</a></p>
  </section>
</main>

<%- include('partials/footer.ejs') %>
