
:root {
  --color-one: #fffffe;
  --color-two: #fefddb;
  --color-three: #183b4c;
  --color-four: #D3B8AE;
  --color-five: #183b4c;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
  background-color: var(--color-two);
}


nav, footer {
  background-color: var(--color-three);
  display: flex;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: var(--color-one);
}

nav {
  justify-content: space-between;
}

footer {
  justify-content: center;
}


nav a {
  text-decoration: none;
  color: var(--color-three);
  background-color: var(--color-two);
  padding: 1vmin;
  border-radius: 1vmin;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  color: var(--color-four);
}


nav span {
  font-size: 1.5vmin;
  color: var(--color-four);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}


form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
  border: 1px solid var(--color-five);
}


.btn {
  background-color: var(--color-three);
  color: var(--color-two);
  padding: 1vmin 2vmin;
  border-radius: 0.5vmin;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--color-one);
  color: var(--color-two);
}





label {
  border: none; 
  background: none; 
  padding: 0; 
}



.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2vmin;
  padding: 2vmin;
}

.inventory-item {
  background-color: var(--color-three);
  color: var(--color-two);
  border-radius: 1vmin;
  padding: 2vmin;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

.inventory-item img {
  max-width: 100%;
  border-radius: 0.5vmin;
  margin-bottom: 1vmin;
  object-fit: cover;
}

.inventory-item h2 {
  font-size: 1.5rem;
  color: var(--color-one);
  margin-bottom: 1vmin;
  flex-grow: 1; 
  display: flex;
  align-items: flex-end; 
  justify-content: center;
}

.inventory-item a {
  display: inline-block;
  padding: 1vmin 2vmin;
  background-color: var(--color-two);
  color: var(--color-three);
  text-decoration: none;
  border-radius: 0.5vmin;
  transition: background-color 0.3s, color 0.3s;
  margin-top: auto; 
}

.inventory-item a:hover {
  color: var(--color-four);
}

.inventory-item:hover {
  transform: translateY(-5px);
}

.car-view {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  padding: 0 2vmin 2vmin 2vmin;
  align-items: center; 
}

.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmin;
  width: 100%; 
}

.car-details img {
  max-width: 100%;
  border-radius: 1vmin;
  object-fit: cover;
  margin-bottom: 2vmin;
  max-height: 300px; 
  width: auto; 
}

.extended-details {
  background-color: var(--color-three);
  color: var(--color-one);
  border-radius: 1vmin;
  padding: 2vmin 4vmin;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center; 
}

.extended-details h2 {
  margin-bottom: 1.5vmin;
}

.extended-details ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; 
  display: inline-block; 
  text-align: left; 
}

.extended-details li {
  margin-bottom: 1vmin;
  line-height: 1.6; 
}

.extended-details li strong {
  font-weight: bold;
}




.car-actions {
  display: flex;
  justify-content: center;
  gap: 2vmin;
}

.car-actions .btn {
  background-color: var(--color-two);
  color: var(--color-three);
  padding: 1vmin 2vmin;
  border-radius: 0.5vmin;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.car-actions .btn-danger {
  background-color: var(--color-one);
}

.car-actions .btn:hover {
  color: var(--color-four);
}

.story-section {
  width: 100%;
  max-width: 800px;
  color: var(--color-one);
  background-color: var(--color-three);
  border-radius: 1vmin;
  padding: 2vmin 4vmin;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 4vmin; 
  padding-right: 4vmin; 
}

.logo {
  padding-bottom: 4vmin;
  width: 50vmin;
}

p > a {
  color: var(--color-one);
}